h1{
	font-family: Bahnschrift;
	font-size: 64px;
    color: #F27203;
	padding: 192px 40px; 
	background: linear-gradient(bottom, #54B061 20%, #9EA8A0 40%);
    border-style: ridge;
    border-width: 10px;
    border-color: blue;    	
	width: 2068px;
    height:	172px;
	text-align: center;
	position: center;
	text-shadow: 8px 12px .2em green;
	background-image: url('IMG_1092.jpg'), url('CSTLogo.jpg');
	background-position: left top, right bottom;
	background-repeat: no-repeat;
	
}

.mainpagetab {
	font-size: 48px;
	padding: 16px 48px 20px 48px;
	border-bottom: 16px solid orange;
	background-image:-moz-linear-gradient(grey 50%, green 35%);
	border-radius: 32px 32px 0px 0px;
	transition: padding 0.5s;
	transition-timing-function: ease-in;
	text-decoration: none;
	
}
.mainpagetab:hover {
	padding: 24px 72px 30px 72px;
}

#maintabsection {
	
}
body {
	size:  1920px 1080px;
}