/*
    Copyright © 2020 Classic Shooter Tourneys
*/

h1{
    font-family: 'Trebuchet MS';
}

h2{
    font-family: 'Trebuchet MS';
}

p{
    font-family: 'Trebuchet MS';
}

a{
    font-family: 'Trebuchet MS';
}